.Messages {
  height: 75%;
  width: 95%;
  overflow: auto;
  position: relative;
  display: flex;
  flex-flow: column;
  margin: 5px;
}

.Messages::-webkit-scrollbar {
  width: 0 !important;
}

.Messages {
  overflow: -moz-scrollbars-none;
}

.Messages {
  -ms-overflow-style: none;
}
