.Message {
  border-radius: 10px;
  background: rgb(0, 129, 238);
  max-width: 80%;
  margin-bottom: 4px;
  padding: 5px;
  box-sizing: border-box;
}

.Message h4 {
  font-size: 10px;
  color: white;
  margin: 2px;
}
.Message p {
  font-size: 8px;
  color: lightgrey;
  margin: 2px;
}

.Chatbot {
  background: rgb(0, 129, 238);
}

.Client {
  background: #aaa;
  margin-left: 20%;
  text-align: right;
}
