.Message {
  border-radius: 10px;
  max-width: 80%;
  margin-bottom: 4px;
  padding: 5px;
  box-sizing: border-box;
}

.Chatbot {
  background: rgb(0, 129, 238);
  text-align: left;
}

.Client {
  background: #aaa;
  margin-left: 20%;
  text-align: right;
}

.Message h4 {
  font-size: 15px;
  color: white;
  margin: 2px;
}
.Message p {
  font-size: 12px;
  color: lightgrey;
  margin: 2px;
}

@media (min-width: 500px) {
  .Message h4 {
    font-size: 10px;
  }
  .Message p {
    font-size: 8px;
  }
}
