.Input {
  width: 100%;
  position: absolute;
  padding: 10px;
  box-sizing: border-box;
}

.Input div {
  position: relative;
  left: 0;
  width: 90%;
}

.Icon {
  position: relative;
  margin: 10px;
  bottom: 50px;
  right: -3px;
}

@media (min-width: 500px) {
  .Input {
    position: absolute;
    bottom: 0px;
    left: 0;
    margin: 3px;
    padding: 0;
  }

  .Input div {
    border-radius: 5px;
    width: 85%;
    position: relative;
  }

  .Icon {
    position: relative;
    bottom: 0;
    margin: 5px;
    right: 0;
  }
}
