.Input {
  width: 100%;
  position: fixed;
  height: auto;
  bottom: 0;
  left: 0;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  background: white;
  padding: 10px;
}

.Input div {
  position: relative;
  left: 0;
  width: 100%;
}

.Icon {
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}

@media (min-width: 500px) {
  .Input {
    position: absolute;
    bottom: 0px;
    left: 0;
    margin: 3px;
    padding: 0;
    background: white;
    width: 98%;
  }

  .Input div {
    border-radius: 5px;
    width: 90%;
    position: relative;
  }

  .Icon {
    position: relative;
    bottom: 0;
    margin: 5px;
    right: 0;
  }
}
